.textbook__words-container {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  gap: 10px;
  // flex-direction: column;
}

.textbook__word {
  padding: 10px;
  background: #55cc55;
  border-radius: 5px;
}

.textbook__page-switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.textbook__page-button {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #d69a19;
  border-radius: 10px;
}