.about-developers-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.about-developer-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  margin-bottom: 50px;
}

.about-dev {
  display: flex;
  margin-bottom: 25px;

  &-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #0000001a;
  }
}

.dev-subtitle {
  flex-direction: column;
  margin: 5% 0 0 10%;
  font-size: 24px;
  font-weight: 700;

  & span {
    font-size: 18px;
    margin-top: 25px;
  }
}
