.game-audiocall__active-screen {
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: 100px auto 0;
  cursor: default;
  user-select: none;
  text-align: center;
}

.audiocall-points {
  font-size: 26px;
  margin-bottom: 25px;
}

.game-audiocall__active-screen-word-container {
  font-size: 48px;
  margin: 40px 0;
}

.game-audiocall__active-screen-correct-button {
  font-size: 18px;
  width: 150px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #a0fda0;
}

.game-audiocall__active-screen-incorrect-button {
  font-size: 18px;
  width: 150px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #ffc0c0;
}

.game-audiocall__active-screen:fullscreen {
  background-color: #f9f8fa;
}

.game-audiocall__active-screen-sprint-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-top: 40px;
  border: 1px darken(#f9f8fa, 25) solid;
  border-radius: 50%;
}

.game-audiocall__active-screen-button-container {
  display: flex;
  column-gap: 15px;
}

.game-audiocall__active-screen-sprint-multiplier {
  margin-bottom: 5px;
}
