{
  "env": {
    "browser": true,
    "es2021": true
  },
  "overrides": [
    {
      "files": ["src/**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module"
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb-typescript/base"
      ],
      "plugins": ["@typescript-eslint", "eslint-plugin-import"],
      "rules": {
        "import/prefer-default-export": "off",
        "no-plusplus": [
          "error", { "allowForLoopAfterthoughts": true }
        ],
        "indent": "off",
        "linebreak-style": ["error", "unix"],
        "max-len": ["warn", { "code": 90 }],
        "no-console": "warn",
        "no-debugger": "warn",
        "no-param-reassign": ["error", { "props": false }],
        "no-shadow": "off",
        "quotes": ["error", "single"],
        "@typescript-eslint/indent": ["warn", 2, { "SwitchCase": 1 }],
        "@typescript-eslint/no-shadow": ["error"]
      }
    }
  ]
}
