@import '../../../variables.scss';

.footer-wrapper {
  margin: 65px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  padding: 25px 40px;
  background: $color-violet-header;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__course-image {
  width: 120px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.footer__author-link-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__author-link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: $color-title-default;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.footer__author-git {
  width: 20px;
}
