.form__title {
  padding-bottom: 20px;
  font-size: 2rem;
  color: #20022e;
}

.form__todo {
  padding-bottom: 20px;
  font-size: 1.2rem;
  color: #ffffff;
}

.form-error-message {
  width: 90%;
  height: 25%;
  color: #804d98;
  background-color: #eaf36f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 60%;
  left: 5%;
}
