.header-wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  margin: 0 auto;
  padding: 25px 40px;
  height: 100px;
  background: #2907f5a1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media(max-width:720px){
  .header-wrapper{
    padding: 25px 20px;
  }
}

@media(max-width:420px){
  .header-wrapper{
    padding: 25px 10px;
  }
}
