.about-developers-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.about-developer-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
  margin-bottom: 50px;
}

.about-dev {
  display: flex;
  margin-bottom: 25px;
}

.developer-anton-image, .developer-vladimir-image, .developer-iryna-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #0000001a;

}

.developer-text-container {
  flex-direction: column;
  margin-left:  60px;
}

.developer-title{
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
}

.developer-subtitle{
  font-size: 22px;
}
