$color-violet-header: #2907f5a1;
$color-yellow-button: #f28c1e;

$color-lightgray-background: #f5f5f5;
$color-medium-gray: #d0cccc;

$font-weight-bold: 800;
$font-size-title: 48px;

// colors for diffrent levels

$color-background-level-0: #bd1cbd;
$color-background-level-1: #e0ef0b;
$color-background-level-2: #178b05;
$color-background-level-3: #06f6ca;
$color-background-level-4: #06aaf6;
$color-background-level-5: #660af2;
$color-background-level-6: #815555;

@mixin header-style {
  font-size: 3rem;
  font-weight: 800;
  color: #220c0c;
}
