$color-violet-header: #2907f5a1;
$color-violet-form: #2b07f58e;
$color-yellow-button: #f28c1e;
$color-violet-border: #4a026c;
$color-lightgray-background: #F5F5F5;
$color-input-background:#dddcdcd8;

$font-weight-bold:800;
$font-size-title:48px;
$color-red-error:#bb0c0c;
