@import '../../../variables.scss';

.level-button {
  width: 200px;
  height: 80px;
  padding: 15px;
  background-color: $color-background-level-default;
  @include card-level();
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  transition: 0.2s;
  overflow: hidden;
  position: relative;
  filter: grayscale(100%);

  &:hover {
    transform: scale(1.05);
    filter: grayscale(80%)
  }

  &__value {
    width: 90px;
    height: 90px;
    background-color: $color-level-selector-circle;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-10deg);
    flex: 0 0 auto;
    position: absolute;
    right: -20px;
  }

  &.select {
    filter: grayscale(0%);

    & .level-button__value {
      transform: rotate(0deg);
    }
  }

}
