@import '../../../variables.scss';

.authorization-container {
  width: 100%;
  background-color: $color-lightgray-background;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 40px 0 0 40px;

  .form__subtext {
    font-size: 1.3rem;
  }
}

.form-error-message {
  width: 90%;
  height: 35%;
  color: #804d98;
  background-color: #eaf36f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 60%;
  left: 5%;
}
